*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: rgb(9,36,121);
    background: linear-gradient(180deg, rgba(9,36,121,1) 34%, rgba(0,212,255,1) 100%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}